body {
    font-family: Arial, sans-serif;
    background-color: rgba(3, 15, 237, 0.979);
    margin: 0;
    padding: 0;
}

div {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: hwb(260 95% 4%);
    border-radius: 8px;
    box-shadow: 0 0 10px #030bf5fa;
}

h2 {
    text-align: center;
    color: #333;
}

form {
    display: flex;
    flex-direction: column;
}

input {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

button {
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.cta-button {
    background-color: hsl(255, 94%, 49%);
    color: #fff;
    margin-right: 10px;
}

.cta-button:hover {
    background-color: #45a049;
}
